<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Erstellt</th>
        <th>Routen</th>
        <th></th>
    </tr>    
    </thead>
    <tbody>
    {% for printjob in printjobs %}
        <tr class="{% if printjob.fields.printed %}success{% endif %} printjob-{{ printjob.pk }}">
            <td>
                {{printjob.pk}}
            </td>
            <td>
                {{printjob.fields.created_at}}
            </td>
            <td>
                {{printjob.fields.routes|length}}
            </td>
            <td>
                <button type="button" data-print-id="{{ printjob.pk }}" class="btn btn-sm btn-success {% if printjob.field.printed %}   disabled   {% endif %} print-printjob">drucken</button>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>