{% extends "base.html" %}

{% load static %}


{% block site_title %}
Deployments    
{% endblock site_title %}


{% block content %}


    
    <div class="container">

      <div class="row add-project-row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          
        </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          
          <a class="btn btn-primary pull-right" href="{% url "add-project" %}"><i class="fa fa-plus"></i> Add Project</a>

          <div class="clear"></div>
          </div>

      </div>

      {% for project in projects %}
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><a href="{% url "project" project.id %}">{{project.name}}</a></h3>     
              <div class="clearfix"></div>
              </h3>


            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <h4 class="pull-left"><i class="fa fa-cloud-upload"></i> Deployments</h4>

                  {# <a href="" class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus"></i> Add Deployment</a> #}

                  <table class="table  table-condensed">
                  {% for deployment in project.deployments.all %}
                  <tr>
                    <td>
                      <a href="{% url "project" project.id %}#deployment-{{deployment.id}}" class="">{{deployment.name}}</a>

                      {% if deployment.get_last_run.success %}
                          <span class="label label-success ">Last run successfull</span>
                      {% else %}
                          <span class="label label-danger ">Last run failed</span>
                      {% endif %}  

                    </td>
                    

                    <td>
                      <div class="btn-group pull-right">
                        <a href="{% url "edit-deployment" deployment.id %}" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</a>
                        <a href="{% url "show-past-deployments" deployment.id %}" class="btn btn-xs"><i class="fa fa-history"></i> Past Deployments</a>
                      </div>
                    </td>

                  </tr>

                  {% endfor %}                  
                  </table>
                  
                  

                    
                    

                  
                  
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <h4><i class="fa fa-gears"></i> Hooks</h4>

                  <table class="table table-condensed">
                  {% for hook in project.hooks.all %}
                    <tr>
                      <td><a href="{% url 'edit-hook' hook.id %}">{{hook.name}}</a>


                        {% if hook.every_push %}
                      <span class="label label-info">Always</span>
                    {% else %}
                    <span class="label label-default">Regexp</span>
                    {% endif %}


                      </td>
                      <td>
                        <a href="{% url "edit-hook" hook.id %}" class="btn btn-xs pull-right"><i class="fa fa-edit"></i> Edit</a>
                      </td>
                    </tr>
                    

                    
                    
                  {% endfor %}

                  </table>


                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
      {% endfor %}


      
      

    </div><!-- /.container -->
{% endblock content %}
