{% extends "base.html" %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block body_class %}project{% endblock body_class %}

{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
            <h2 class="pull-left">{{project.name}} 
                {# <a  class="btn  btn-sm btn-default"><i class="fa fa-edit"></i></a> #}
            </h2>

    

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
            
            <h3><i class="fa fa-cloud-upload"></i> Deployments
            <a href="{% url "add-deployment" project.id %}"  class="btn pull-right btn-sm btn-primary"><i class="fa fa-plus"></i> Add Deployment</a>
            </h3>
            {% if project.deployments.all %}    
                {% for deployment in project.deployments.all %}
                    <div id="deployment-{{deployment.id}}">
                    <a name="deployment-{{ deployment.id }}"></a>
                    <div class="panel panel-default deployment deployment-id{{deployment.id}}">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{deployment.name}}
                            <span class="label label-success pull-right">{{deployment.deployment_type}}</span>

                            </h4>
                        </div>
                        <div class="panel-body">
                        <div class="media">
                            
                            <div class="deployment-state {% if deployment.last_run_successful %}success {% else %} failed {% endif %} pull-left"></div>
                            
                            <div class="media-body">
                                
                                
                                        <!-- Table -->
                                        <table class="table table-condensed table-striped">
                                            <tbody>
                                                <tr>
                                                    <th>Created</th><td>{{deployment.created_at|date:"d.m.Y H:i:s"}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Owner</th><td>{{deployment.creator}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Host</th><td>{{deployment.host}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Username</th><td>{{deployment.username}}</td>

                                                </tr>
                                                <tr>
                                                    <th>Last Run</th><td>{{deployment.last_run_at}}</td>

                                                </tr>
                                            </tbody>
                                        </table>

                                        <a  class="btn btn-default" href="{% url 'show-past-deployments' deployment.id %}">
                                        <i class="fa fa-history"></i> Show past deployments 
                                        <span class="badge">{{ deployment.executions.all | length }}</span></a>

                                        <div class="btn-group pull-right">

                                        <button type="button" class="btn btn-danger delete-deployment btn-sm" data-deployment-id="{{deployment.id}}"><i class="fa fa-trash-o"></i> Delete Deployment</button>

                                        <a  class="btn btn-default btn-sm" href="{% url 'edit-deployment' deployment.id %}"><i class="fa fa-edit"></i> Edit</a>

                                        <a  class="btn btn-primary run-deployment  btn-sm" data-deployment-id="{{deployment.id}}" data-deployment-name="{{deployment.name}}" target="_blank" href="{% url 'run-deployment' deployment.id %}"><i class="glyphicon glyphicon-refresh"></i> Run Now!</a>
                                        
                                        
                                        </div>
                                
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">There are no deployments yet.</div>

                <div class="clear"></div>
            {% endif %}
            <br>
            <hr>
            <br>
            <h3><i class="fa fa-gears"></i> Hooks
            <a href="{% url "add-hook" project.id %}"  class="btn pull-right btn-sm btn-primary"><i class="fa fa-plus"></i> Add Hook</a>
            </h3>

            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>run on every push</th>
                        <th>Regexp</th>
                        <th>Deployments</th>
                        <th><span class="pull-right">Edit</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for hook in project.hooks.all %}
                    <tr id="hook-{{hook.id}}">
                        <td><a href="{% url "edit-hook" hook.id %}">{{hook.name}}</a></td>
                        <td>{{hook.every_push}}</td>
                        <td>{{hook.commit_message_regex}}</td>
                        <td>
                            {% for dep in hook.deployments.all %}
                                {{dep.name}}</br>

                            {% endfor %}
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-danger btn-sm delete-hook" data-hook-id="{{hook.id}}" ><i class="fa fa-trash-o"></i> Delete Hook</button>
                                <a href="{% url "edit-hook" hook.id %}" class="btn btn-default btn-sm"><i class="fa fa-edit"></i> Edit Hook</a>
                            </div>
                        </td>
                    </tr>
                        
                    {% endfor %}
                </tbody>
            </table>    



        </div>
    </div>

    <div class="row">
        <br>
        <hr>
        <br>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="text-align:center">
            <button type="button" class="btn btn-danger delete-project" data-project-id="{{project.id}}"><i class="fa fa-trash-o"></i> Delete Project</button>    
        </div>
    </div>

</div>


<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title deployment-title"></h4>
      </div>
      <div class="modal-body">
        <pre class="deployment-body">
            
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




{% endblock content %}


{% block extra_script %}
    <script type="text/javascript">
    //// delete project
    $('.delete-project').click(function(){
        var id = $('.delete-project').attr('data-project-id');

        bootbox.confirm("Do you really want to delete the project, including all deployments and hooks?", function(resp){
            if(resp == true){
               $.get(Urls.delete_project(id), {}, function(){
                    window.location.href = Urls.index();
                }); 
            }
        });


    });

    //// delete deployment
    $('.delete-deployment').click(function(){
        var id = $('.delete-deployment').attr('data-deployment-id');

        bootbox.confirm("Do you really want to delete the deployment?", function(resp){
            if(resp == true){
               $.get(Urls.delete_deployment(id), {}, function(){
                    $('#deployment-'+id).fadeOut();
                }); 
            }
        });


    });
    //// delete hook
    $('.delete-hook').click(function(){
        var id = $('.delete-hook').attr('data-hook-id');

        bootbox.confirm("Do you really want to delete the hook?", function(resp){
            if(resp == true){
               $.get(Urls.delete_hook(id), {}, function(){
                    $('#hook-'+id).fadeOut();
                }); 
            }
        });


    });


    //// run deployment
    $('.run-deployment').click(function(e){
        e.preventDefault();
        var bt = $(this);
        bt.button('loading');

        var deployment_id = bt.attr('data-deployment-id');
        var deployment_name = bt.attr('data-deployment-name');

        $.ajax(bt.attr('href'), {
            success:function(res){
                bt.button('reset');

                $('.modal-body').html("<pre>"+res+"</pre>");
                $('.deployment-title').html(deployment_name);

                $('.modal').modal()
            }
        });
    });
    </script>

{% endblock extra_script %}